NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_DIRECTUS_URL=http://localhost:8056

DIRECTUS_TOKEN=token
DIRECTUS_CACHE_TTL_SECONDS=300
NITRO_REDIS_HOST=
NITRO_REDIS_PORT=6379
NITRO_REDIS_DB=0
NITRO_REDIS_PASSWORD=
NITRO_API_CACHE_TTL_SECONDS=300
NITRO_SSR_SWR_SECONDS=300

YANDEX_MAP_API_KEY=key
YANDEX_ORG_ID=id
