NUXT_PUBLIC_SITE_INDEXABLE=false
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_DIRECTUS_PUBLIC_URL=http://localhost:8056

NUXT_DIRECTUS_INTERNAL_URL=http://localhost:8056
NUXT_DIRECTUS_TOKEN=token
NUXT_DIRECTUS_CACHE_TTL_SECONDS=300
NITRO_REDIS_HOST=
NITRO_REDIS_PORT=6379
NITRO_REDIS_DB=0
NITRO_REDIS_PASSWORD=
NITRO_API_CACHE_TTL_SECONDS=300
NITRO_SSR_SWR_SECONDS=300

NUXT_PUBLIC_YANDEX_MAP_API_KEY=key
NUXT_PUBLIC_YANDEX_ORG_ID=id
