.git
.github
.husky
.idea
.vscode

**/node_modules
**/.pnpm-store
**/.npm
**/.yarn

**/.nuxt
**/.output
**/dist
**/build
**/.cache
**/.turbo
**/.next
**/.vite
**/.parcel-cache

coverage
report
tmp
temp

.env
.env.*
!.env.example

Dockerfile*
infra/**/docker-compose*.yml

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
