.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example
!.env.sample
!.env.template
.vps

# Dependencies
node_modules/
.pnpm-store/

# Nuxt / Vite / Nitro outputs
.nuxt/
.output/
.nitro/
.vite/
dist/
build/
.cache/
coverage/
report/

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Local data snapshots
infra/dev/data/**
!infra/dev/data/postgres/
!infra/dev/data/uploads/
!infra/dev/data/postgres/.gitkeep
!infra/dev/data/uploads/.gitkeep
