WEB_PORT=3001

POSTGRES_PORT=5433
POSTGRES_DB=akpp_dev
POSTGRES_USER=akpp_dev
POSTGRES_PASSWORD=change_me

REDIS_PORT=6380

DIRECTUS_PORT=8056
SITE_URL=http://localhost:3001
DIRECTUS_PUBLIC_URL=http://SERVER_IP:8056
DIRECTUS_INTERNAL_URL=http://directus:8055

DIRECTUS_KEY=change_me_32_chars_min
DIRECTUS_SECRET=change_me_32_chars_min
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=change_me_strong

DIRECTUS_TOKEN=token
DIRECTUS_CACHE_TTL_SECONDS=300
YANDEX_MAP_API_KEY=key
YANDEX_ORG_ID=id
