WEB_PORT=3000

POSTGRES_DB=akpp
POSTGRES_USER=akpp
POSTGRES_PASSWORD=change_me

NUXT_PUBLIC_SITE_INDEXABLE=true
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_DIRECTUS_INTERNAL_URL=http://directus:8055
NUXT_PUBLIC_DIRECTUS_PUBLIC_URL=https://your-domain.ru

DIRECTUS_KEY=generate_32_chars
DIRECTUS_SECRET=generate_32_chars
DIRECTUS_ADMIN_EMAIL=admin@your-domain.ru
DIRECTUS_ADMIN_PASSWORD=strong_password

NUXT_DIRECTUS_TOKEN=token
NUXT_DIRECTUS_CACHE_TTL_SECONDS=300
NITRO_REDIS_HOST=redis
NITRO_REDIS_PORT=6379
NITRO_REDIS_DB=0
NITRO_REDIS_PASSWORD=
NITRO_API_CACHE_TTL_SECONDS=300
NITRO_SSR_SWR_SECONDS=300
NUXT_PUBLIC_YANDEX_MAP_API_KEY=key
NUXT_PUBLIC_YANDEX_ORG_ID=id
